/*
COLOURS:
https://color.adobe.com/Vintage-Ralph-Lauren-color-theme-2216979/edit/?copy=true&base=4&rule=Custom&selected=4&name=Copy%20of%20Vintage%20Ralph%20Lauren&mode=rgb&rgbvalues=0.44,0.190123,0.190123,0.185103,0.203562,0.23,0.49453,0.51,0.478519,0.89,0.802294,0.643083,0.78,0.475812,0.399051&swatchOrder=0,1,2,3,4
#FFFFF0
#3E606F
 */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 42px;
    color: #3E606F;
    font-weight: 400;
    padding-bottom: 2vh;
    border-bottom: 2px solid rgba(62,96,111,0.3)
}
h2 {
    font-size: 28px;
    color: #3E606F;
    font-weight: 400;
}
p {

}
a {
    text-decoration: none;
}
a:link {
    color: #FFFFF0;
}
a:visited {
    color: #FFFFF0;
}
a:hover {
    color: #2F343B;
}
a:active {
    color: #7E827A;
}
#scrollindicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 83vw;
    width: 10vw;
    height: 20vh;
    font-size: 8vh;
    background: #2F343B;
    color: #FFFFF0;
    outline: none;
}
#scrollindicator:hover {
    background: #7E827A;
}
#scrollindicator:active {
    background: #3E606F;
}
#fronttext {
    position: absolute;
    top: 13vh;
    left: 29vw;
    text-align: center;
}
#fronttext h1 {
    font-size: 7vh;
    color: #FFFFF0;
    border-bottom: none;
    padding-bottom: 0;
    font-weight: 700;
}
.lead {
    color: #FFFFF0;
    margin-top: -2.8vh;
    padding-top: 1.5vh;
    border-top: 2px solid rgba(255,255,240,0.4);
    font-size: 3vh;
    font-weight: 300;
}

#nav {
    position: sticky;
    position: -webkit-sticky;
    top: 13vh;
    left: 83vw;
    width: 10vw;
    height: 0;
    z-index: 9999;
    outline: none;
}
.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background: #2F343B;
    outline: none;
}
.navlink h3 {
    font-size: 2.5vh;
    color: #FFFFF0;
}
.navlink:hover {
    background: #7E827A;
}
.navlink:active {
    background: #3E606F;
}
#page1 {
    height: 100vh;
    background-image: url(frontpageimage.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
.contentpage {
    padding-bottom: 20vh;
    overflow: hidden;
}
#page2 {
    background: #FFFFF0;
}
#page3 {
    height: 100vh;
    background: #3E606F;
}
#page4 {
    height: 100vh;
    background: #FFFFF0;
}
.contentgroup {
    /*padding: top right bottom left*/
    padding: 15vh 27vw 15vh 10vw;
}
.left3 {
    float: left;
    width: 33%;
}
.middle3 {
    float: left;
    width: 33%;
    overflow: hidden;
}
#profileimg {
    border: solid 8px #3E606F;
    border-radius: 100%;
    width: 90%;
}
.right3 {
    float: left;
    width: 33%
    /*margin-left: 50%;*/
}
.secondgap li:nth-child(even) {
    margin-bottom: 2vh;
}

#page3 h1 {
    color: #FFFFF0;
}
#page3 h2 {
    color: #FFFFF0;
}
.left {
    float: left;
    width: 50%;
    border-bottom: 2px solid rgba(62,96,111,0.3);
    padding-bottom: 5vh;
}
.right {
    float: left;
    width: 50%;
    border-bottom: 2px solid rgba(62,96,111,0.3);
    padding-bottom: 5vh;
}
#giticons h2{
    text-align: center;
    color: #FFFFF0;
    font-size: 40px;
    margin: -5vh 0 0 0;
    padding: 0;
}
#giticons p {
    padding-bottom: 2vh;
    text-align: center;
    color: #FFFFF0;
    font-size: 14px;
    border-bottom: 2px solid rgba(255,255,240,0.3)
}
.contacticon {
    display: inline-block;
    font-size: 52px;
    margin-right: 3vw;
    margin-left: 5vw;
}
.contacttext {
    color: #3E606F;
    display: inline-block;
}
.contactdiv {
    display: flex;
    justify-content: left;
    align-items: center;
}
.contactdiv:hover > *{
    color: #2F343B;
}
.contactdiv:active > *{
    color: #7E827A;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-2vh);}
    60% {transform: translateY(-1vh);}
}

.bounce {
    animation-name: bounce;
}